.dirs {
    padding: 10px 10px 0 10px;

    .dir {
        .pull-left;

        margin: 0 12px 10px 0;
        width: 96px;
        height: 115px;
        text-align: center;

        a div {
            height: 40px;
            width: 96px;
            overflow: hidden;
            //text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            //font-size: 13px;
        }
        a:hover {
            text-decoration: none;
        }
    }
}
