.dirs {
    padding: 10px 10px 0 10px;

    .dir {
        .pull-left;
        margin: 0 8px 8px 0;
        width: 96px;
        text-align: center;

        a:hover {
            text-decoration: none;
        }
    }
}
