{{define "base"}}<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{.BaseURL}}.static/{{.StaticCSS}}" rel="stylesheet" type="text/css">
        {{template "head" .}}
    </head>
    <body>
        {{ template "body" .}}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="{{.BaseURL}}.static/{{.StaticJS}}"></script>
    </body>
</html>{{end}}
